*{
  margin: 0px;
  padding: 0px;
}

.home-div {
  margin-top: 9vh;
  width: 100%;
  height: 400px;
  text-align: center;
  color: #fff;
  background: #18bc9c;
}
#my-img{
  height: 200px;
  border-radius: 50%;
}